@charset "UTF-8";

p{
    text-align: justify;
}

p>a{
    text-decoration: none;
    color: white;
}

body{
    background-color: #dcf8d9c7;
    min-width: 730px;
    margin: 0%;
    padding-top: 0%;
}
h2{
    padding-left: 40px;
}

main{
    max-width: 1920px;
    min-width: 730px;
}

div#tema{
    font-size: 1.5em;
    width: 100%;
    color: white;
    background-color: #9e8bff;
    box-shadow: #a2bd9fc7 0px 0px 45px -7px;
    display: inline-block;
    margin-bottom: 200px;
    margin-top: 0px;
}

div#bolocosreceitas{
    text-align: center;
}

header{
    color: white;
    background-color: #edb183;
    margin: 0%;
    margin-bottom: 200px;
}

div#logo{
    font-size: 3em;
    padding: 20px;
    text-align: center;
}

div#logo> h1{
    margin: 0%;
}

header>div#redessociais{
    padding-top: 0px;
    padding-right: 20px;
    text-align: right;
}

div#redessociais>p{
    text-align: center;
}

img.logoinsta{
    width: 15px;
    right: 15px;
}

div#redessociais:hover{
    font-weight: bold;
    cursor: pointer;
    text-shadow: #52488598 0px 0px 45px 15px;
}

div#menu>p{
    text-align: center;
    display: inline-block;
    margin-left: 15px;
    margin-right: 50px;
    padding: 5px;
}

div#menu>p:hover{
    border-radius: 10px;
    cursor: pointer;
    background-color: #f5c199;
    font-weight: bolder;
}

p#quemsoueu{
    background-color: rgba(159, 190, 155, 0.671);
    width: 800px;
    display: inline-flex;
    padding: 20px 20px 0px 20px;
    border-radius: 40px;
    margin-top: 0px;
    box-shadow: #52488598 0px 0px 45px -7px;
    
}

div.interna{
    padding-top: 0px;
    padding: 20px;
    display: inline-block;
}

div#t1{
    display: flex;
    padding-top: 0px;
}

div.interna>nav#fotoquemsoueu{
    border: 2px solid black;
    width: 450px;
    height: 450px;
    background-color: lightgreen;
    margin-left: 60px;
    margin-right: 20px;
    display: flex;
}

nav{
    display: inline-block;
}   

nav#numerodica{
    border: 2px solid black;
    width: 150px;
    height: 150px;
    background-color: lightgreen;
    display: inline-block;
}

nav.dicas{
    padding: 20px 30px 0px 30px;
    background-color: rgba(159, 190, 155, 0.671) ;
    display: inline-block;
    box-shadow: #52488598 0px 0px 45px -7px;
    border-radius: 40px;
}

nav.dicas>p{
    padding-bottom: 50px;
    margin-left: 50px;
    display: inline-flex;
    width: 1000px;
}

div#dicas{
    padding-top: 0px;
}

div#receitas{
    display: flex;
    justify-content: center;
}

nav#receita{
    box-shadow: #52488598 0px 0px 45px -7px;
    margin: auto;
    text-align: center;
    width: 350px;
    height: 350px;
    background-color: lightgreen;
    margin-bottom: 44px;
    border-radius: 10%;
}

nav#receita:hover{
    font-weight: bold;
    cursor: pointer;
    width: 351px;
    height: 351px;
    box-shadow: #52488598 0px 0px 45px 7px;
}

div#news{
    padding-top: 0px;
    background-color: rgba(159, 190, 155, 0.671);
    padding: 20px 20px 20px 20px;
    border-radius: 40px;
    margin-bottom: 20px;
    box-shadow: #52488598 0px 0px 45px -7px;
}

footer{
    padding: 20px;
    color: white;
    background-color: #56282d;
    margin: 0%;
    height: 200px;
}

div.int-footer>p{
    margin-bottom: 0px;
}