@charset "UTF-8";

.topo{
    opacity: 0;
    transition: 2s;
    filter: blur(15px);
    translate: 0 -10vw;
}


.topoanimate{
    opacity: 1;
    transition: 2s;
}

html {
    scroll-behavior: smooth;
}

p {
    text-align: justify;
}

p>a {
    text-decoration: none;
    color: white;
}

body {
    background-color: #dcf8d9c7;
    min-width: 730px;
    margin: 0%;
    padding-top: 0%;
}

h1 {
    font-weight: lighter;
    cursor: pointer;
}

h2 {
    letter-spacing: 2px;
    padding-left: 40px;
}

.h2tema {
    opacity: 0;
    transition: 1s;
    letter-spacing: 2px;
    padding-left: 40px;
    padding: 0px;
    text-align: center;
    filter: blur(15px);
    translate: -90vw 0;
}

.h2temaanimate{
    opacity: 1;
    transition: 2s;
    letter-spacing: 3px;
    padding-left: 40px;
    padding: 0px;
    text-align: center;
}

main {
    max-width: 1920px;
    min-width: 730px;
    margin: auto;
}

div.tema {
    font-size: 1.5em;
    width: 100%;
    color: white;
    background-color: #9e8bff;
    box-shadow: #a2bd9fc7 0px 0px 45px -7px;
    display: inline-block;
    margin-bottom: 200px;
    margin-top: 0px;
}

header {
    color: white;
    background-color: #edb183;
    box-shadow: #a2bd9fc7 0px 0px 45px -7px;
    margin: 0%;
    margin-bottom: 200px;
}

div#logo {
    font-size: 2em;
    padding: 20px;
    padding-bottom: 0px;
    text-align: center;
}

div#logo>h1 {
    margin: 0%;
}

header>div#redessociais {
    margin: auto;
    margin-top: 1px;
    padding-top: 0px;
    text-align: center;
    width: 180px;
    font-size: 1.2em;
}

div#redessociais>p {
    text-align: center;
}

div#redessociais:hover {
    text-decoration: underline;
    font-weight: bold;
    cursor: pointer;
}

img.nutrisb1 {
    width: 130px;
    right: 130px;

}

img.logoinsta {
    width: 15px;
    right: 15px;
}

div#menu>a {
    text-decoration: none;
    color: white;
    text-align: center;
    display: inline-block;
    margin-left: 15px;
    margin-right: 50px;
}

a>p.menu {
    padding: 5px 10px 5px 10px;
}

a>p.menu:hover {
    border-radius: 10px;
    cursor: pointer;
    background-color: #f5c199;
    font-weight: bolder;
}

.pquemsoueu {
    background-color: rgba(159, 190, 155, 0.671);
    padding: 20px 25px 20px 25px;
    border-radius: 40px;
    margin-top: 0px auto;
    margin-right: 20px;
    box-shadow: #52488598 0px 0px 45px -7px;
    display: flex;
    opacity: 0;
    filter: blur(15px);
    translate: -50vw 0;
}

.pquemsoueuanimate{
    background-color: rgba(159, 190, 155, 0.671);
    padding: 20px 25px 20px 25px;
    border-radius: 40px;
    margin-top: 0px auto;
    margin-right: 20px;
    box-shadow: #52488598 0px 0px 45px -7px;
    display: flex;
    opacity: 1;
    transition: 2s;
    translate: 0 0;
}

div.interna {
    padding-top: 0px;
    padding: 20px;
    display: inline-block;
}

div#t1 {
    text-align: center;
    align-items: center;
    display: block;
    padding-top: 0px;
}

div#t2 {
    padding-top: 0px;
}

img.fotoquemsoueu {
    opacity: 0;
    filter: blur(15px);
    translate: -50vw 0;
    max-height: 400px;
    border-radius: 40px;
    background-color: lightgreen;
    margin-right: 20px;
    box-shadow: #52488598 0px 0px 45px -7px;
}

img.fotoquemsoueuanimate {
    opacity: 1;
    transition: 2s;
    translate: 0 0;
    max-height: 400px;
    border-radius: 40px;
    background-color: lightgreen;
    margin-right: 20px;
    box-shadow: #52488598 0px 0px 45px -7px;
}

nav {
    display: inline-block;
}

nav#numerodica {
    border: 2px solid black;
    width: 150px;
    height: 150px;
    background-color: lightgreen;
    display: inline-flex;
}

div#dicas>p {
    padding: 0;
    display: inline-block;
    width: 80%;
}

div#dicas>h3 {
    margin: 0px 20px 0px 5px;
    padding: 0;
    font-size: 6em;
    width: 10%;
    display: inline-block;
}

div.maisdicas>p {
    text-align: center;
    font-size: 0.8em;
    padding: 5px 10px 15px;
    width: 200px;
    margin: auto;
}

div.maisdicas>p:hover {
    border-radius: 10px;
    cursor: pointer;
    font-weight: bolder;
    box-shadow: #52488598 0px 0px 45px -7px;
}

div#dicas {
    padding-top: 0px;
    display: flex;
    padding: 20px 30px 0px 30px;
    background-color: rgba(159, 190, 155, 0.671);
    display: inline-block;
    box-shadow: #52488598 0px 0px 45px -7px;
    border-radius: 40px;
    margin: 0px 20px 20px 20px;
}

div.dicasanimation {
    opacity: 1;
    translate: 0 0;
    transition: 1s;
    padding-top: 0px;
    padding: 20px;
    display: inline-block;
    padding-top: 0px;
    display: flex;
    padding: 20px 30px 0px 30px;
    background-color: rgba(159, 190, 155, 0.671);
    display: inline-block;
    box-shadow: #52488598 0px 0px 45px -7px;
    border-radius: 40px;
    margin: 0px 20px 20px 20px;
}

div.dicasinternas {
    opacity: 0;
    filter: blur(15px);
    translate: -90vw 0;
    transition: 2s;
}

div#dicas:hover {
    cursor: pointer;
    transform: scale(1.03);
    transition: 300ms;
}

div#receitas {
    display: flex;
    justify-content: center;
}

nav#receita {
    box-shadow: #52488598 0px 0px 45px -7px;
    margin: auto;
    text-align: center;
    width: 350px;
    height: 350px;
    background-color: lightgreen;
    margin-bottom: 44px;
}

nav.receita{
    opacity: 0;
    filter: blur(15px);
    translate: 0 -20vw;
    transition: 2s;
}

nav.receitaanimation{
    opacity: 1;
    translate: 0 0;
    transition: 2s;
}

nav#receita:hover {
    transform: scale(1.2);
    transition: 300ms;
    font-weight: bold;
    cursor: pointer;
    width: 351px;
    height: 351px;
    box-shadow: #52488598 0px 0px 45px 7px;
}

div.maisreceitas>p {
    text-align: center;
    font-size: 0.8em;
    padding: 5px 10px 15px;
    width: 250px;
    margin: auto;
}

div.maisreceitas>p:hover {
    border-radius: 10px;
    cursor: pointer;
    font-weight: bolder;
    box-shadow: #52488598 0px 0px 45px -7px;
}

div#news {
    padding-top: 0px;
    background-color: rgba(159, 190, 155, 0.671);
    padding: 20px 20px 20px 20px;
    border-radius: 40px;
    margin-bottom: 20px;
    box-shadow: #52488598 0px 0px 45px -7px;
}

#temanews{
    margin-bottom: 40px;
}

footer {
    padding: 30px;
    color: white;
    background-color: #56282d;
    margin: 0%;
    height: 130px;
    font-size: 0.8em;

}

h4>img {
    height: 60px;
    width: 70px;
}

div.int-footer>p {
    margin-bottom: 0px;
}

div.internafooter {
    display: flex;
}

div.informacoessah {
    text-align: center;
    margin: auto;
}

div.int-footer>a {
    text-decoration: none;
    color: white;
}

div.informacoessah>a {
    text-decoration: none;
    color: white;
}

div.moreinfo {
    line-height: 15px;
    font-size: 0.9em;
}

div#leads{
    width: 100%;
    color: white;
    display: inline-block;
    margin-bottom: 40px;
    margin-top: 0px;
}

form{
    box-shadow: #a2bd9fc7 0px 0px 45px -7px;
    background-color: #9e8bff;
    text-align: center;
    margin: 30px auto;
    width: 50%;
    border-radius: 10px;
}

form>p{
    font-size: 1.5em;
    padding: 20px;
    margin: 0;
    text-align: center;
}

.input-box>label{
    display: block;
}

.input-box{
    margin-bottom: 20px;
}

.input-box>input{
    width: 60%;
    padding: 10px;
    outline: none;
    border: none;
}

.btnenviar>input{
    font-weight: bolder;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.432);
    color: white;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    text-align: center;
    height: 50px;
    margin-bottom: 10px;
}

div#iraotopo{
    position: fixed;
    bottom: 20px;
    right: 20px;
}

div#iraotopo > a {
    text-decoration: none;
}

p.iraotopo{
    border-radius: 50%;
    line-height: 10px;
    color: white;
    font-weight: bolder;
    font-size: 2.5em;
    padding: 20px;
    padding-top: 25px;
    opacity: .5;
    background-color: #3b1c1f;
}

p.iraotopo:hover{
    opacity: 1;
}