@charset "UTF-8";

* {
    cursor: default;
}

html{
    scroll-behavior: smooth;
}

p{
    text-align: justify;
}

p>a{
    text-decoration: none;
    color: white;
}

body{
    background-color: #dcf8d9c7;
    min-width: 730px;
    margin: 0%;
    padding-top: 0%;
}

h1{
    font-weight: lighter;
    cursor: pointer;
}

h2{
    letter-spacing: 2px;
    padding-left: 40px;
}

main{
    max-width: 1920px;
    min-width: 730px;
}

div.tema{
    font-size: 1.5em;
    width: 100%;
    color: white;
    background-color: #9e8bff;
    box-shadow: #a2bd9fc7 0px 0px 45px -7px;
    display: inline-block;
    margin-bottom: 200px;
    margin-top: 0px;
}

header{
    color: white;
    background-color: #edb183;
    box-shadow: #a2bd9fc7 0px 0px 45px -7px;
    margin: 0%;
    margin-bottom: 200px;
}

div#logo{
    font-size: 2em;
    padding: 20px;
    padding-bottom: 0px;
    text-align: center;
}

div#logo> h1{
    margin: 0%;
}

header>div#redessociais{
    margin: auto;
    margin-top: 1px;
    padding-top: 0px;
    text-align: center;
    width: 180px;
    font-size: 1.2em;
}

div#redessociais>p{
    text-align: center;
}

div#redessociais:hover{
    text-decoration: underline;
    font-weight: bold;
    cursor: pointer;
}

img.nutrisb1{
    width: 130px;
    right: 130px;

}

img.logoinsta{
    width: 15px;
    right: 15px;
}

div#menu>a{
    text-decoration: none;
    color: white;
    text-align: center;
    display: inline-block;
    margin-left: 15px;
    margin-right: 50px;
}

a>p.menu{
    padding: 5px 10px 5px 10px;
}

a>p.menu:hover{
    border-radius: 10px;
    cursor: pointer;
    background-color: #f5c199;
    font-weight: bolder;
}

p#quemsoueu{
    background-color: rgba(159, 190, 155, 0.671);
    padding: 20px 25px 20px 25px;
    border-radius: 40px;
    margin-top: 0px auto;
    margin-right: 20px;
    box-shadow: #52488598 0px 0px 45px -7px;
    display: flex;
}

div.interna{
    padding-top: 0px;
    padding: 20px;
    display: inline-block;
}

div#t1{
    text-align: center;
    align-items: center;
    display: block;
    padding-top: 0px;
}

div#t2{
    padding-top: 0px;
}

div#t1>img.fotoquemsoueu{
    max-height: 400px;
    border-radius: 40px;
    background-color: lightgreen;
    margin-right: 20px;
    box-shadow: #52488598 0px 0px 45px -7px;
}

h2.quemsoueu{
    padding: 0px;
    text-align: center;
}

nav{
    display: inline-block;
}   

nav#numerodica{
    border: 2px solid black;
    width: 150px;
    height: 150px;
    background-color: lightgreen;
    display: inline-flex;
}

div#dicas>p{
    padding: 0;
    display: inline-block;
    width: 80%;
}

div#dicas>h3{
    margin: 0px 20px 0px 5px;
    padding: 0;
    font-size: 6em;
    width: 10%;
    display: inline-block;
}

div.maisdicas>p{
    text-align: center;
    font-size: 0.8em;
    padding: 5px 10px 15px;
    width: 200px;
    margin: auto;
}

div.maisdicas>p:hover{
    border-radius: 10px;
    cursor: pointer;
    font-weight: bolder;
    box-shadow: #52488598 0px 0px 45px -7px;
}

div#dicas{
    padding-top: 0px;
    display: flex;
    padding: 20px 30px 0px 30px;
    background-color: rgba(159, 190, 155, 0.671);
    display: inline-block;
    box-shadow: #52488598 0px 0px 45px -7px;
    border-radius: 40px;
    margin: 0px 20px 20px 20px;
}

div#receitas{
    display: flex;
    justify-content: center;
}

nav#receita{
    box-shadow: #52488598 0px 0px 45px -7px;
    margin: auto;
    text-align: center;
    width: 350px;
    height: 350px;
    background-color: lightgreen;
    margin-bottom: 44px;
    border-radius: 10%;
}

nav#receita:hover{
    font-weight: bold;
    cursor: pointer;
    width: 351px;
    height: 351px;
    box-shadow: #52488598 0px 0px 45px 7px;
}

div.maisreceitas>p{
    text-align: center;
    font-size: 0.8em;
    padding: 5px 10px 15px;
    width: 250px;
    margin: auto;
}

div.maisreceitas>p:hover{
    border-radius: 10px;
    cursor: pointer;
    font-weight: bolder;
    box-shadow: #52488598 0px 0px 45px -7px;
}

div#news{
    padding-top: 0px;
    background-color: rgba(159, 190, 155, 0.671);
    padding: 20px 20px 20px 20px;
    border-radius: 40px;
    margin-bottom: 20px;
    box-shadow: #52488598 0px 0px 45px -7px;
}

footer{
    padding: 30px;
    color: white;
    background-color: #56282d;
    margin: 0%;
    height: 130px;
    font-size: 0.8em;

}

h4>img{
    height: 40px;
    width: 70px;

}

div.int-footer>p{
    margin-bottom: 0px;
}

div.internafooter{
    display: flex;
}

div.informacoessah{
    text-align: center;
    margin: auto;
}

div.int-footer>a{
    text-decoration: none;
    color: white;
}

div.informacoessah>a{
    text-decoration: none;
    color: white;
}

div.moreinfo{
    font-size: 0.9em;
}